 .type-1 {
    stroke: darkred !important;
}
.type-2 {
    stroke: darkblue !important;
}

/* axis style*/
.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
.tick line {
    stroke: #a4a4a4 !important;
    stroke-dasharray: 10;
    opacity: 1;
  }
.axis text {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    font-weight: 400;
}

.hexagon {
    cursor: pointer;
}

.disc-label {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.background-clickable {
    cursor: pointer;
}

.metric-rect {
    fill: white;
    stroke: black;
    stroke-width: .25;
}

.selected {
    opacity: 1;
}

.deselected {
    cursor: pointer;
    opacity: .4;
}

.highlighted {
    opacity: .85;
}

.wvf-axis.text {
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;

}

.wvf-axis.path {
    stroke-dasharray: 20, 20;
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* ---- Node Styles ---- */

.forceNetwork01 .wvf-node {
    stroke: black;
    stroke-width: 1px;
    cursor: pointer;
}

.sankey01 .wvf-node.selected {
    opacity:1;
    stroke-width: 1;
    stroke: black;
}

.sankey01 .wvf-node {
    opacity: 0.75;
    stroke:black;
    stroke-width: 0.5px;
    cursor: move;
    text-transform: capitalize !important;
    font-family: 'Open Sans', sans-serif !important;

}

.sankey01 text {
    bottom: 20px;
}

.sankey01 .wvf-node:onclick{

}

.sankey01 .wvf-node.deselected {
          opacity: 0.75;
}


.subd {
    display: none;
    cursor: default;
    font-size: 6;
}

.subd.selected {
    display: block;
}

.subd.deselected {
    display: none;
}


.sankey01 .wvf-node.highlighted {
    opacity: .75;
}


/* ---- Labels ----- */

.wvf-label {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    text-transform: capitalize !important;
    font-size: 16px;
    z-index: 9;
}

.wvf-label:hover {
    cursor: pointer;
}

.wvf-label-mid {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: capitalize !important;
}

.wvf-label-mid:hover {
    cursor: pointer;
    font-weight: 600;
}

.columnlabel{
    text-transform: capitalize !important;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}

/* ---- Edge Styles ---- */
.forceNetwork01 .wvf-edge{
    stroke: rgb(67,70,72) !important;
}

.sankey01 .wvf-edge {
    opacity: .5;
    stroke: #c5c5c5;
    fill: none;
}

.sankey01 .wvf-label {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: capitalize !important;
    font-size: 16px;
}

.sankey01 .wvf-edge.selected {
    opacity: 0.7;
    }

.sankey01 .wvf-edge.deselected {
    opacity: 0;
}

/* --- Rectangle Styles ---- */
.wvf-rect {
 fill:lightgrey;
}

.wvf-rect.selected {
    stroke-width: 3px;
}

[class*="Chemical"] rect {
    fill: rgb(97,255,255) !important;
}
[class*="EE & Computer Science"] rect {
    fill: rgb(255,133,255) !important;
}
[class*="Health"] rect {
    fill: rgb(255,128,77) !important;
}
[class*="Chemistry"] rect {
    fill: rgb(0,0,255) !important;
}
[class*="Social"] rect {
    fill: rgb(255,255,0) !important;
}
[class*="Medical"] rect {
    fill: rgb(255,0,0) !important;
}
[class*="Biology"] rect {
    fill: rgb(55,153,8) !important;
}
[class*="Biotechnology"] rect {
    fill: rgb(0,255,128)!important;
}
[class*="Brain"] rect {
    fill: rgb(255,181,41) !important;
}
[class*="Infectious"] rect {
    fill: rgb(184,21,11) !important;
}
[class*="Other"] rect {
    fill: #8E8E8E !important;
}
[class*="Math & Physics"] rect {
    fill: #8E1BCE!important;
}
[class*="Multidisciplinary"] rect {
    fill: #000000 !important;
}
[class*="Unclassified"] rect {
    fill: #8E8E8E !important;
}
[class*="Earth Sciences"] rect {
    fill: #9B180F !important;
}
