    <!-- Modal -->
    <div class="modal fade" id="copiAboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title">Co-PI Collaboration Network</h1>
                </div>
                <div class="modal-body">
                  <p>
                    The Co-PI Collaboration Network visualization features a force-directed network layout on the left and a sorted horizontal bar graph on the right.
                    Both visualizations are coupled so that hovering over an investigator in the network highlights that same investigator in the bar graph.
                    The node size for each investigator indicates the number of grants received, while the node color indicates the total award amount; see legend in interactive visualization for details.
                    If two investigators collaborated (i.e., their names are listed together on a grant), there exists an edge between them. The thickness of this edge represents the number of times they collaborated together.
                  </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
