<!-- Modal -->
<div class="modal fade" id="copiUsageModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content " >
      <div class="modal-header modal-header-info">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>
        <h4 class="modal-title">Interface Operations</h4>
      </div>
      <div class="modal-body">
        <table id="aboutTable" class="table table-bordered table-hover"  >
          <thead>
          </thead>
          <tbody>
            <tr>
              <th>Operation</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>
                <img src="images/circle.png" alt="Node" height="50" width="50" id="circle">
                <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="rightClick"><br>
                <b>Left Click on a Node</b>
              </td>
              <td>
                Selects the node, highlights its connections, opens the publication popup and the corresponding entry in bar graph.
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/barGraph.png" alt="barGraph" height="50" width="50" id="barGraph">
                <img src="images/leftClick.png" alt="Left Click" height="42" width="42" id="rightClick"><br>
                <b>Left Click on a Bar Graph entry</b>
              </td>
              <td>
                Selects the bar graph entry, corresponding node in network, its publication popup and its connections.
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/circle.png" alt="barGraph" height="50" width="50" id="circle">
                <img src="images/mouseover.png" alt="Right Click" height="42" width="42" id="mouseover"><br>
                <b>Mouseover on a Node</b>
              </td>
              <td>
                Highlights the node, its connections and corresponding bar graph entry.
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/edge.png" alt="barGraph" height="50" width="50" id="circle">
                <img src="images/mouseover.png" alt="Right Click" height="42" width="42" id="mouseover"><br>
                <b>Mouseover on an Edge</b>
              </td>
              <td>
                Highlights the edge and connected nodes, their labels and their corresponding bar-graph entries.
              </td>
            </tr>
            <tr>
              <td>
                <img src="images/barGraph.png" alt="barGraph" height="50" width="50" id="barGraph">
                <img src="images/mouseover.png" alt="Right Click" height="42" width="42" id="mouseover"><br>
                <b>Mouseover on a Bar Graph Entry</b>
              </td>
              <td>
                Highlights the bar graph entry, its corresponding node in the network and its connections.
              </td>
            </tr>

            <tr>
              <td>

                <img src="images/slider.png" alt="Right Click" height="42" width="42" id="slider">
                <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="rightClick">
                <br>
                <b>Left Click on Slider</b>
              </td>
              <td>
                Filters node labels.
              </td>
            </tr>
            <tr>
              <td>

                <img src="images/scroll.png" alt="Right Click" height="42" width="42" id="scroll">
                <br>
                <b>Mouse-Scroll</b>
              </td>
              <td>
                Zoom in/out.
              </td>
            </tr>

            <tr>
              <td>
                <img src="images/screen.png" alt="Right Click" height="42" width="42" id="screen">
                <img src="images/leftClick.png" alt="Right Click" height="42" width="42" id="leftClick">  <br>
                <b>Left Click on screen</b>

              </td>
              <td>
                Clears any node/bar-graph entry selection.
              </td>
            </tr>

            <tr>
              <td>
                <img src="images/screen.png" alt="Right Click" height="42" width="42" id="screen">
                <img src="images/doubleClick.png" alt="Right Click" height="42" width="42" id="doubleClick">
                <br>
                <b>Double Click on screen</b>
              </td>
              <td>
                Zoom in.
              </td>
            </tr>


          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
