    <!-- Modal -->
    <div class="modal fade" id="impactAboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 class="modal-title">Funding and Publication Impact Visualization</h1>
                </div>
                <div class="modal-body">
                  The <mark>Funding and Publication Impact</mark> visualization features three types of nodes, namely IT resources on left, funding (e.g., NIH institutes
                  and NSF) in middle, and publication disciplines on right. The height of a bar, or node, is proportional to the
                  maximum of the weighted sum of incoming links and the weighted sum of outgoing links.
                  The nodes are placed in ascending order by their heights.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->
