<div layout="row" layout-margin class="popup" style="display:none">
    <div layout="column">
        <div layout="row">
            <div class="discipline-name">
                <h2>Zip code: <span id="zip-name"></span></h2>
            </div>
        </div>
        <div layout="row" layout-fill>
            <p id="popup-table-no-records">No records found</p>
            <div id="popup-table-container" style="width: 100%" class="default" ng-controller="tableCtrl">
                <table id="popup-table" st-table="tableData" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-ratio="35" st-sort="authors">Authors</th>
                            <th st-ratio="5" st-sort="year">Year</th>
                            <th st-ratio="35" st-sort="title">Title</th>
                            <th st-ratio="25" st-sort="journal">Journal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in tableData">
                            <td st-ratio="35" st-sort="authors">{{row.authors}}</td>
                            <td st-ratio="5" st-sort="year">{{row.year}}</td>
                            <td st-ratio="35" st-sort="title"><a href={{row.url}}>{{row.title}}</a></td>
                            <td st-ratio="25" st-sort="journal">{{row.journal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
