[Credentials]
user: db_user
password: db_pw

[Database]
connectstring: dbserver.university.edu:1521/database

[Fields]
id:user
total_dollars:grant
start_date:grant
end_date:grant
role:user
agency:grant
agency_grant_id:grant
title:grant
organization_grant_id:grant
type:grant

[Output]
format:json
file:grants.json
