[Credentials]
user: ad_user
password: ad_pw

[LDAP]
connectstring: ldap://ads.university.edu
baseDN: ou=Accounts,dc=ads,dc=iu,dc=edu
idfield: sAMAccountName
splitfield: memberOf

[Fields]
cn:user
sn:last_name
givenName:first_name
title:title
division:division
memberOf:groups

[Organization]
name:Southern State University
abbrev: SSU

[Output]
format:json
file:users.json
